:root {
    --main-bg-color: #eee0cb;
    --primary-color: #544b3d;
    --secondary-color: #4e6e58;
    --error-color: #e25d5a;
    --on-bg-color: #000000;
    --on-primary-color: #ffffff;
    --on-secondary-color: #ffffff;
    --on-error-color: #ffffff;
}

body {
    background-color: var(--main-bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--on-bg-color);
}

h1 {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    font-weight: bolder;
    font-size: 64px;
    text-align: center;
}

h2 {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
    font-size: 32px;
}

li {
    font-size: 24px;
}